<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<style>
    .rating .rate_radio+label {
        position: relative;
        display: inline-block;
        margin-left: -4px;
        z-index: 10;
        width: 60px;
        height: 60px;
        background-image: url('./img/starrate.png');
        background-repeat: no-repeat;
        background-size: 60px 60px;
        cursor: pointer;
        background-color: #f0f0f0;
    }

    .rating .rate_radio:checked+label {
        background-color: #ff8;
    }
    .wrap{
    max-width: 480px;
    margin: 0 auto; /* 화면 가운데로 */
    background-color: #fff;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

}
.reviewform textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-image: url('/starrate.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate_radio:checked + label {
    background-color: #ff8;
}

.warning_msg {
    display: none;
    position: relative;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 100%;
    color: red;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
</style>
<script type="text/javascript">
    function Rating(){};
    Rating.prototype.rate = 0;
    Rating.prototype.setRate = function(newrate){
        //별점 마킹 - 클릭한 별 이하 모든 별 체크 처리
        this.rate = newrate;
        let items = document.querySelectorAll('.rate_radio');
        items.forEach(function(item, idx){
            if(idx < newrate){
                item.checked = true;
            }else{
                item.checked = false;
            }
        });
    }
    let rating = new Rating();//별점 인스턴스 생성
    document.addEventListener('DOMContentLoaded', function(){
    //별점선택 이벤트 리스너
    document.querySelector('.rating').addEventListener('click',function(e){
        let elem = e.target;
        if(elem.classList.contains('rate_radio')){
            rating.setRate(parseInt(elem.value));
        }
    })
});
</script>
<body>
    <div>

        <% if (name != "비회원") { %>
        <%-header2%>
        <% } else { %>
        <%-header%>
        <% } %>
    </div>
    <p><img src="<%=product_deal.Pimage%>" /></p>
    <p><%=product_deal.Pname%></p>
    <p>판매가격:
        <%=product_deal.Price%></p>
    <p>할인가격:</p>
    <p>원산지: 국내산</p>
    <p>출시일:
        <%=product_deal.Ptime%></p>
    <hr>
    <form action="/customer/detail/<%=product_deal.PID%>/review" method="post" enctype="multipart/form-data">
        <input type="hidden" name="R_RID" id="R_RID" value="<%=user_id%>" />
        <input type="hidden" name="R_PID" id="R_PID" value="<%=product_deal.PID%>" />
        <input type="hidden" name="R_DID" id="R_DID" value="<%=product_deal.DID%>" />
        <p>이미지:
            <input type="file" name="image" id="image" accept="image/png, image/jpeg" required="required" /></p>
        <p>리뷰쓰기:
            <input type="text" name="Review" id="Review" required="required" /></p>
        <p>별점:
            <input type="text" name="Star" id="Star" required="required" /></p>
        <div class="wrap">
            <h1>후기</h1>
            <form name="reviewform" class="reviewform" method="post" action="/save">
                <input type="hidden" name="rate" id="rate" value="0" />
                <p class="title_star">별점과 리뷰를 남겨주세요.</p>

                <div class="review_rating">
                    <div class="warning_msg">별점을 선택해 주세요.</div>
                    <div class="rating">
                        <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
                        <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio" title="1점">
                        <label for="rating1"></label>
                        <input type="checkbox" name="rating" id="rating2" value="2" class="rate_radio" title="2점">
                        <label for="rating2"></label>
                        <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio" title="3점">
                        <label for="rating3"></label>
                        <input type="checkbox" name="rating" id="rating4" value="4" class="rate_radio" title="4점">
                        <label for="rating4"></label>
                        <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio" title="5점">
                        <label for="rating5"></label> 
                    </div>
                </div>
                <div class="review_contents">
                    <div class="warning_msg">5자 이상으로 작성해 주세요.</div>
                    <textarea rows="10" class="review_textarea"></textarea>
                </div>
                <div class="cmd">
                    <input type="button" name="save" id="save" value="등록">
                </div>
            </form>
        </div>
        <button type="submit">작성</button>
    </form>
</body>

</html>