<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/star.css' />
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style5.css' />

    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
    </script>

</head>

<style>
    .rating .rate_radio+label {
        position: relative;
        display: inline-block;
        margin-left: -4px;
        z-index: 10;
        width: 60px;
        height: 60px;
        background-image: url('./img/starrate.png');
        background-repeat: no-repeat;
        background-size: 60px 60px;
        cursor: pointer;
        background-color: #f0f0f0;
    }
    .rating .rate_radio:checked+label {
        background-color: #ff8;
    }
    .wrap {
        max-width: 480px;
        margin: 0 auto;
        /* 화면 가운데로 */
        background-color: #fff;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .reviewform textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .rating .rate_radio {
        position: relative;
        display: inline-block;
        z-index: 20;
        opacity: 0.001;
        width: 60px;
        height: 60px;
        background-color: #fff;
        cursor: pointer;
        vertical-align: top;
        display: none;
    }
    .rating .rate_radio+label {
        position: relative;
        display: inline-block;
        margin-left: -4px;
        z-index: 10;
        width: 30px;
        height: 30px;
        background-image: url('/starrate.png');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        cursor: pointer;
        background-color: #f0f0f0;
    }
    .rating .rate_radio:checked+label {
        background-color: #ff8;
    }
    .warning_msg {
        display: none;
        position: relative;
        text-align: center;
        background: #ffffff;
        line-height: 26px;
        width: 100%;
        color: red;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #e0e0e0;
    }
</style>
<script type="text/javascript">
    function Rating() {};
    Rating.prototype.rate = 0;
    Rating.prototype.setRate = function (newrate) {
        //별점 마킹 - 클릭한 별 이하 모든 별 체크 처리
        this.rate = newrate;
        let items = document.querySelectorAll('.rate_radio');
        items.forEach(function (item, idx) {
            if (idx < newrate) {
                item.checked = true;
            } else {
                item.checked = false;
            }
        });
    }
    let rating = new Rating(); //별점 인스턴스 생성
    document.addEventListener('DOMContentLoaded', function () {
        //별점선택 이벤트 리스너
        document.querySelector('.rating').addEventListener('click', function (e) {
            let elem = e.target;
            if (elem.classList.contains('rate_radio')) {
                rating.setRate(parseInt(elem.value));
            }
        })
    });
</script>

<body>
    <div>
        <% if (name != "비회원") { %>
        <%-header2%>
        <% } else { %>
        <%-header%>
        <% } %>
    </div>
    <div style="text-align: center; margin-bottom:0">
        <table class="tab_table" style="border-spacing: 5px">
            <tr>
                <td width=50 class="tab_noselect"><a class="norma" href="/customer/tab">전체 메뉴</a></td>
                <td width=50 class="tab_noselect"><a class="norma" href="/customer/tab/1">새우장</a></td>
                <td width=50 class="tab_noselect"><a class="norma" href="/customer/tab/2">게장</a></td>
                <td width=50 class="tab_noselect"><a class="norma" href="/customer/tab/3">계란장</a></td>
                <td width=50 class="tab_noselect"><a class="norma" href="/customer/tab/4">김치</a></td>
                <td width=50 class="tab_noselect"></td>
                <td width=50 class="tab_noselect"><a class="norma" href="/customer/notice">공지사항</a></td>
                <td width=50 class="tab_noselect"><a class="norma" href="/customer/qna">질문답변</a></td>
            </tr>
        </table>
        <img src="/main_border.png" style="width: 90%; height: 1%; overflow: hidden;">
    </div>
    <div style="text-align: center;">
        <table align="center" style="margin-left: auto; margin-right: auto;" width='1000px'>
            <tr>
                <td rowspan="6" align "center"><img style="border: 1px solid#e9e9e9;" src="/<%=product_deal.Pimage%>"
                        width=500px height=400px /></td>
                <td width=300px align="left" style="color:darkgoldenrod">
                    <h1 style="font-size: 30px"><%=product_deal.Pname%></h1>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <% if(product_deal.Salerate == 0) { %>
                    <h1><%=Number(product_deal.Price).toLocaleString('en')%>원</h1>
                    <% } %>
                    <% if(product_deal.Salerate != 0) { %>
                    <div style="font-size: 40px; color: #e9e9e9;">
                        <strike><%=Number(product_deal.Price).toLocaleString('en')%>원</strike></div>
                    <div style="font-size: 40px"><strong style="color: red;"><%=product_deal.Salerate%>%</strong>
                        <strong><%=Number(100000).toLocaleString('en')%>원</strong></div>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td>
                    <hr style="border-style:dotted">
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div style="font-size: 20px">원산지: 국내산</div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div style="font-size: 20px">출시일: <%=date%></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <td align="left" colspan=" 2">
                    <strong style="font-size:20px;">상세 설명</strong>
                    <p><%-product_deal.Pdesc%></p>
                </td>
            </tr>
            <br><br>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <hr>
            <tr>
                <td align="left" colspan="2">
                    <strong style="font-size:20px;">리뷰 작성</strong>
                </td>
            </tr>
            <tr>
                <td align="left" colspan="2">
                    <form action="/customer/detail/<%=product_deal.PID%>/review" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="R_RID" id="R_RID" value="<%=user_id%>" />
                        <input type="hidden" name="R_PID" id="R_PID" value="<%=product_deal.PID%>" />
                        <input type="hidden" name="R_DID" id="R_DID" value="<%=product_deal.DID%>" />
                        <div class="rating">
                            <label for="exampleFormControlInput1">Star</label>
                            <br>
                            <input type="checkbox" name="Star" id="rating1" value="1" class="rate_radio" title="1점">
                            <label for="rating1"></label>
                            <input type="checkbox" name="Star" id="rating2" value="2" class="rate_radio" title="2점">
                            <label for="rating2"></label>
                            <input type="checkbox" name="Star" id="rating3" value="3" class="rate_radio" title="3점">
                            <label for="rating3"></label>
                            <input type="checkbox" name="Star" id="rating4" value="4" class="rate_radio" title="4점">
                            <label for="rating4"></label>
                            <input type="checkbox" name="Star" id="rating5" value="5" class="rate_radio" title="5점">
                            <label for="rating5"></label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Review</label>
                            <textarea type="text" class="form-control" name="Review" id="Review" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Image</label>
                            <br>
                            <input class="btn btn-outline-dark" type="file" name="image" id="image" accept="image/*"
                                required="required" />
                        </div>
                        <div align="right">
                            <button type="submit" class="btn btn-primary">작성</button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>